<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>projext | Bundling made simple</title>
    <meta name="description" content="Simplify the way you use webpack and/or Rollup" />
    <meta property="og:title" content="projext | Bundling made simple" />
    <meta property="og:description" content="Simplify the way you use webpack and/or Rollup" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@homer0" />
    <meta name="twitter:title" content="projext | Bundling made simple" />
    <meta name="twitter:description" content="Simplify the way you use webpack and/or Rollup" />
    <meta name="keywords" content="javascript, webpack, rollup, react, aurelia, angularjs" />
    <meta name="theme-color" content="#1D1F24" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="<%= require('assets/images/icons/projext-48.png') %>" />
    <link
      rel="apple-touch-icon"
      sizes="48x48"
      href="<%= require('assets/images/icons/projext-48.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="<%= require('assets/images/icons/projext-72.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="96x96"
      href="<%= require('assets/images/icons/projext-96.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="<%= require('assets/images/icons/projext-144.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="<%= require('assets/images/icons/projext-192.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="256x256"
      href="<%= require('assets/images/icons/projext-256.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="384x384"
      href="<%= require('assets/images/icons/projext-384.png') %>"
    />
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="<%= require('assets/images/icons/projext-512.png') %>"
    />
  </head>
  <body>
    <main class="main">
      <header class="header">
        <div class="header-mobile">
          <div class="logo-mobile">projext | Bundling made simple</div>
          <button
            type="button"
            class="burger"
            aria-label="Open the menu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="container">
          <nav class="nav">
            <ul class="nav-links">
              <li>
                <a
                  href="#wtf"
                  class="nav-link -selected"
                  title="WTF is this?"
                >WTF?</a>
              </li>
              <li>
                <a
                  href="#engines-and-frameworks"
                  class="nav-link"
                  title="Engines & Frameworks"
                >Engines<span> & Frameworks</span></a>
              </li>
              <li>
                <a
                  href="#features"
                  class="nav-link"
                  title="Features"
                >Features</a>
              </li>
              <li>
                <a
                  href="http://homer0.github.io/projext"
                  class="nav-link"
                  title="Docs"
                  target="_blank"
                  rel="noreferrer"
                >Docs</a>
              </li>
            </ul>
            <a
              href="https://github.com/homer0/projext"
              class="github"
              title="Go to the Github repository"
              target="_blank"
              rel="noreferrer"
            >
              <img
                src="<%= require('assets/images/icons/github.svg') %>"
                alt="Github logo"
              />
            </a>
          </nav>
        </div>
      </header>
      <div class="sub-header">
        <div class="container logo-container">
          <h1 class="logo">projext | Bundling made simple</h1>
        </div>
      </div>
      <section class="section">
        <div class="container">
          <div class="content">
            <div class="content-body">

              <div class="install-box-container">
                <div class="install-box">
                  <button
                    type="button"
                    class="install-box-toggle"
                    title="Switch client"
                  >
                    <img
                      src="<%= require('assets/images/icons/yarn.svg') %>"
                      alt="Yarn logo"
                      class="install-box-icon -yarn"
                    />
                    <img
                      src="<%= require('assets/images/icons/npm.svg') %>"
                      alt="npm logo"
                      class="install-box-icon -npm"
                    />
                  </button>
                  <button
                    type="button"
                    class="install-box-copy"
                  >
                    <code class="install-box-code -npm">
                      > npm init projext
                    </code>
                    <code class="install-box-code -yarn">
                      > yarn create projext
                    </code>
                    <code class="install-box-code -copied">
                      > copied!
                    </code>
                  </button>
                </div>
              </div>

              <a class="anchor" href="#wtf" id="wtf" name="wtf"></a>
              <article class="article">
                <h2 class="article-title">
                  <strong>WTF</strong> is this?
                </h2>

                <p>
                  This tool uses webpack and Rollup under the hood in order to bundle your project. The advantage here is that projext is way easier to configure and it does all it can to try and understand your project, so you don't have to write any configuration at all.
                </p>

                <div class="warning">
                  <div class="warning-iconContainer">
                    <img
                      src="<%= require('assets/images/icons/warning.svg') %>"
                      alt="warning icon"
                      class="warning-icon"
                    />
                  </div>
                  <p>
                    <strong>projext doesn't aim to replace webpack nor Rollup</strong>, it's just an easier way to use them for simple projects.
                  </p>
                </div>

                <p>
                  Besides abstracting the configurations, projext can also take care of "frameworks recipes", for example: for a React application, you know you need <a href="https://yarnpkg.com/en/package/@babel/preset-react" title="See @babel/preset-react page on Yarn" target="_blank" rel="noreferrer"><code>@babel/preset-react</code></a> and configure the hot loader on webpack... well, there's a plugin that uses projext API to do all that without you having to do anything.
                </p>
                <p>
                  Now, projext packages are organized in 4 different layers:
                </p>

                <ul class="numbers-list">
                  <li>
                    <i>1</i>
                    <p><strong>Configurations/Core:</strong> This is the projext package, the one that defines your project's targets configurations for the build engines and Babel.</p>
                  </li>
                  <li>
                    <i>2</i>
                    <p><strong>Build engines:</strong> These are the plugins that use the configurations for specific build engines, like <a href="https://yarnpkg.com/en/package/projext-plugin-webpack" title="See projext-plugin-webpack page on Yarn" target="_blank" rel="noreferrer"><code>projext-plugin-webpack</code></a> for webpack.</p>
                  </li>
                  <li>
                    <i>3</i>
                    <p><strong>Frameworks:</strong> These are the recipes for specific build engines, like <a href="https://yarnpkg.com/en/package/projext-plugin-webpack-aurelia" title="See projext-plugin-webpack-aurelia page on Yarn" target="_blank" rel="noreferrer"><code>projext-plugin-webpack-aurelia</code></a> for Aurelia with webpack.</p>
                  </li>
                  <li>
                    <i>4</i>
                    <p><strong>Plugins:</strong> Extra functionality, like <a href="https://yarnpkg.com/en/package/projext-plugin-runner" title="See projext-plugin-runner page on Yarn" target="_blank" rel="noreferrer"><code>projex-plugin-runner</code></a> to run Node projects on production.</p>
                  </li>
                </ul>
              </article>
              <a class="anchor" href="#engines-and-frameworks" id="engines-and-frameworks" name="engines-and-frameworks"></a>
              <article class="article">
                <h2 class="article-title">
                  Build <strong>engines & frameworks</strong>
                </h2>
                <p>
                  These are the ones currently supported (and one currently being worked on) and the link to their packages.
                </p>

                <div class="icons-list-container">
                  <ul class="icons-list">
                    <li>
                      <img
                        src="<%= require('assets/images/icons/webpack.png') %>"
                        alt="webpack logo"
                      />
                      <p>
                        <strong>
                          <a
                            href="https://yarnpkg.com/en/package/projext-plugin-webpack"
                            title="See projext-plugin-webpack page on Yarn"
                            target="_blank"
                            rel="noreferrer"
                          >webpack</a>
                        </strong>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/rollup.png') %>"
                        alt="Rollup logo"
                      />
                      <p>
                        <strong>
                          <a
                            href="https://yarnpkg.com/en/package/projext-plugin-rollup"
                            title="See projext-plugin-rollup page on Yarn"
                            target="_blank"
                            rel="noreferrer"
                          >Rollup</a></strong>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/react.png') %>"
                        alt="React logo"
                      />
                      <p>
                        <strong>React</strong>
                        <span><a href="https://yarnpkg.com/en/package/projext-plugin-webpack-react" title="See projext-plugin-webpack-react page on Yarn" target="_blank" rel="noreferrer">webpack</a> - <a href="https://yarnpkg.com/en/package/projext-plugin-rollup-react" title="See projext-plugin-rollup-react page on Yarn" target="_blank" rel="noreferrer">Rollup</a></span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/angularjs.png') %>"
                        alt="AngularJS logo"
                      />
                      <p>
                        <strong>AngularJS</strong>
                        <span><a href="https://yarnpkg.com/en/package/projext-plugin-webpack-angularjs" title="See projext-plugin-webpack-angularjs page on Yarn" target="_blank" rel="noreferrer">webpack</a> - <a href="https://yarnpkg.com/en/package/projext-plugin-rollup-angularjs" title="See projext-plugin-rollup-angularjs page on Yarn" target="_blank" rel="noreferrer">Rollup</a></span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/aurelia.png') %>"
                        alt="Aurelia logo"
                      />
                      <p>
                        <strong>Aurelia</strong>
                        <span><a href="https://yarnpkg.com/en/package/projext-plugin-webpack-aurelia" title="See projext-plugin-webpack-aurelia page on Yarn" target="_blank" rel="noreferrer">webpack</a></span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/vuejs.png') %>"
                        alt="Vue.js logo"
                      />
                      <p>
                        <strong>Vue.js</strong>
                        <span class="disabled">Coming soon!</span>
                      </p>
                    </li>
                  </ul>
                </div>

              </article>
              <a class="anchor" href="#features" id="features" name="features"></a>
              <article class="article">
                <h2 class="article-title">
                  <strong>Features</strong>
                </h2>
                <p>
                  These are some of the main features you can get out of the box.
                </p>

                <div class="icons-list-container">
                  <ul class="icons-list -features">
                    <li>
                      <img
                        src="<%= require('assets/images/icons/babel.png') %>"
                        alt="Babel logo"
                      />
                      <p>
                        <span>
                          <strong><a href="https://babeljs.io" title="Go to Babel site" target="_blank" rel="noreferrer">Babel</a></strong> with the env preset
                        </span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/flow.png') %>"
                        alt="Flow logo"
                      />
                      <p>
                        <span>
                          <strong><a href="https://flow.org" title="Go to Flow's site" target="_blank" rel="noreferrer">Flow</a></strong> support via Babel
                        </span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/typescript.png') %>"
                        alt="TypeScript logo"
                      />
                      <p>
                        <span>
                          <strong><a href="https://www.typescriptlang.org/" title="Go to TypeScript's site" target="_blank" rel="noreferrer">TypeScript</a></strong> support via Babel
                        </span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/node.png') %>"
                        alt="NodeJS logo"
                      />
                      <p>
                        <span>
                          <strong><a href="https://nodejs.org" title="Go to Node's site" target="_blank" rel="noreferrer">NodeJS</a></strong> targets
                        </span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/sass.png') %>"
                        alt="Sass logo"
                      />
                      <p>
                        <span>
                          <strong><a href="https://sass-lang.com" title="Go to SASS' site" target="_blank" rel="noreferrer">SCSS</a></strong> support
                        </span>
                      </p>
                    </li>
                    <li>
                      <img
                        src="<%= require('assets/images/icons/nodemon.png') %>"
                        alt="Nodemon logo"
                      />
                      <p>
                        <span>
                          <strong><a href="https://nodemon.io" title="Go to Nodemon's site" target="_blank" rel="noreferrer">Nodemon</a></strong> integration
                        </span>
                      </p>
                    </li>

                  </ul>
                </div>
              </article>
              <article class="article">
                <h2 class="article-title">
                  <strong>Docs</strong> & <strong>Samples</strong>
                </h2>

                <ul class="externals">
                  <li>
                    <p>
                      This is the documentation generated from the code, there’s no better place to understand the magic
                    </p>
                    <div>
                      <a href="http://homer0.github.io/projext" title="Go to the docs" target="_blank" rel="noreferrer">Go to the <strong>Docs</strong></a>
                    </div>
                  </li>
                  <li>
                    <p>
                      There’s a sample project or target for almost every feature, what are you waiting for?
                    </p>
                    <div>
                      <a href="https://github.com/homer0/projext-samples" title="Go to the samples repository" target="_blank" rel="noreferrer">Go to the <strong>Samples</strong> repo</a>
                    </div>
                  </li>

                </ul>
              </article>
            </div>
            <footer class="footer">
              <div>
                <a
                  href="https://github.com/homer0"
                  class="homer0"
                  title="Go to homer0.com"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img
                    src="<%= require('assets/images/homer0.svg') %>"
                    alt="homer0 logo"
                  />
                </a>
              </div>
              <div>
                <ul class="shields">
                  <li>
                    <a
                      href="https://travis-ci.org/homer0/projext"
                      title="See the builds"
                      target="_blank"
                      rel="noreferrer"
                    >
                      <img
                        src="https://img.shields.io/travis/homer0/projext.svg?style=flat-square"
                        alt="Travis shield"
                      />
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://coveralls.io/github/homer0/projext?branch=master"
                      title="See the code coverage"
                      target="_blank"
                      rel="noreferrer"
                    >
                      <img
                        src="https://img.shields.io/coveralls/github/homer0/projext.svg?style=flat-square"
                        alt="Coveralls shield"
                      />
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://david-dm.org/homer0/projext"
                      title="See the dependencies status"
                      target="_blank"
                      rel="noreferrer"
                    >
                      <img
                        src="https://img.shields.io/david/homer0/projext.svg?style=flat-square"
                        alt="David shield"
                      />
                    </a>
                  </li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </section>
    </main>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150936015-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-150936015-1');
    </script>
  </body>
</html>
